.nav-menu {
  width: 208px;
  height: 100%;
  color: #e1e0e1;
  background-color: #393d42;
}

h2 {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 450;
}

@media screen and (max-width: 970px) {
  .nav-menu {
    width: 100%;
  }
}
