@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/** FONT FAMILY **/

$primary-font-family: "Roboto", sans-serif;

/** THEME COLOR **/

$body-theme: #f5f7f8;

$nav-logo-theme: #31363b;

$nav-menu-theme: #393d42;

$nav-bar-theme: #2a2f33;

/** BORDER COLOR **/
$white-border: #fff;
$black-border: #000;
$light-border: #e3e3e3;

/** STATUS COLOR **/
$Published: #acacac;
$Scheduled: #3ac183;
$Need-Approval: #f7bf38;
$Error: #fb6450;
$Notes: #67b1f2;
