/** FONTS 

font-family: 'Roboto Serif', serif;

**/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/** VARIABLES **/

$primary-font: "Roboto", sans-serif;
$theme-color: #000;
$light-color: #fff;
$dark-color: #000;
