@import "./abstracts";
@import "./components";

/** GENERAL SETTINGS **/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; // 1rem = 10px
}

body {
  min-height: 100vh;
  position: relative;
  background-color: $body-theme;
}

/**  APP **/

.app {
  display: flex;
}
