/** FONTS 

font-family: 'Roboto Serif', serif;

**/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/** VARIABLES **/
/** FONT **/
/** THEME **/
/** SHADOW **/
/** BORDER COLOR **/
/** ANCHOR COLOR **/
/** STATUS COLOR **/
/** MIXINS **/
/**  ACCORDION MENU **/
.Accordion-menu {
  max-width: 100%;
}

.Menu-box {
  position: relative;
}

.Menu-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1rem;
}

.Menu-box.active {
  background-color: #e66;
}

.Menu-box.active::after {
  content: "";
  display: block;
  position: absolute;
  top: 3.6rem;
  left: 1.6rem;
  width: 1rem;
  height: 1rem;
  background-color: #e66;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Menu-box-title::before {
  content: "+";
  cursor: pointer;
  position: absolute;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  top: 50%;
  right: 2rem;
  font-size: 3rem;
}
@media (max-width: 780px) {
  .Menu-box-title::before {
    left: 17rem;
  }
}

.Menu-box.active .Menu-box-title::before {
  content: "_";
  top: 25%;
  right: 2.5rem;
}
@media (max-width: 780px) {
  .Menu-box.active .Menu-box-title::before {
    right: 1.5rem;
  }
}

.Menu-box-content {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #333;
}

.Menu-box.active .Menu-box-content {
  height: auto;
  border: 1px solid #333;
}

/**  POST CARD **/
.Post-card {
  width: 40rem;
  height: 50rem;
  margin-right: 4rem;
  margin-bottom: 5rem;
}
@media (max-width: 780px) {
  .Post-card {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .Post-card {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: -3rem;
    margin-bottom: 2rem;
  }
}
.Post-card .Post-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
.Post-card .Post-card-container .Post-card-status {
  width: 4rem;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;
}
.Post-card .Post-card-container .Post-card-status .Post-card-channel {
  color: #eee;
  width: 100%;
  text-align: center;
}
.Post-card .Post-card-container .Post-card-parts {
  display: grid;
  grid-template-areas: "Post-card-head Post-card-head" "Post-card-body Post-card-body" "Post-card-foot Post-card-foot";
  grid-template-columns: 15rem 15rem;
  grid-template-rows: 5rem 40rem 5rem;
  margin: 0 2.5rem;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-head {
  grid-area: Post-card-head;
  margin-top: 1rem;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-head .Post-card-date {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  height: 5rem;
  font-size: 1.5rem;
  color: #888;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-head .Post-card-actions {
  width: 15rem;
  height: 5rem;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-head .Post-card-actions .Actions-buttons {
  cursor: pointer;
  border: none;
  color: #888;
  background-color: #fff;
  margin-left: 2rem;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-body {
  grid-area: Post-card-body;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-body .Post-card-text {
  width: 30rem;
  height: auto;
  color: #888;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-body .Post-card-media {
  width: 30rem;
  height: 100%;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-body .Post-card-media img {
  max-width: 100%;
  height: auto;
  border: 1px solid #e3e3e3;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-foot {
  grid-area: Post-card-foot;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-foot .Post-card-stats {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-foot .Stats-buttons {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: #888;
  background-color: #fff;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-foot .Stat-text {
  margin: 0 0.5rem;
}

/** GENERAL SETTINGS **/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  color: #333;
  background-color: rgba(238, 238, 238, 0.8);
  -webkit-tap-highlight-color: transparent;
}

/**  APP MAIN **/
.App-main {
  position: relative;
  min-height: 100vh;
}

/**  APP HEADER **/
.App-header {
  position: fixed;
  top: 0;
  left: 6rem;
  right: -6rem;
  width: 24rem;
  height: 6rem;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1px solid #fff;
  background-color: rgba(17, 17, 17, 0.8);
  -webkit-box-shadow: 2px 0px 2px #666;
          box-shadow: 2px 0px 2px #666;
  color: #eee;
}
@media (max-width: 780px) {
  .App-header {
    position: absolute;
    text-align: start;
    width: 100%;
  }
}

h1 {
  margin-top: 0.5rem;
}
@media (max-width: 780px) {
  h1 {
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
}

.App-title {
  font-weight: 900;
}

.App-title-ex {
  font-weight: 500;
}

/**  APP NAVBAR **/
.App-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: -6rem;
  width: 6rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.9);
  border-right: 1px solid #fff;
}
@media (max-width: 780px) {
  .App-navbar {
    position: absolute;
    height: 42rem;
  }
}
.App-navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 2rem 0.5rem 1rem;
  border-radius: 1rem;
  opacity: 0.5;
  color: #fff;
}
.App-navbar a:hover, .App-navbar a:active {
  opacity: 1;
}
.App-navbar a:hover::before, .App-navbar a:active::before {
  opacity: 1;
}
.App-navbar a::before {
  content: "";
  position: relative;
  top: 0;
  right: 2rem;
  width: 2rem;
  height: 100%;
  margin-right: -1.2rem;
  border-radius: 1rem;
  background-color: #fff;
  opacity: 0;
}

/**  APP MENU **/
.App-menu {
  overflow: auto;
  position: fixed;
  top: 6rem;
  left: 6rem;
  right: -6rem;
  width: 24rem;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.8);
  -webkit-box-shadow: 2px 0px 2px #666;
          box-shadow: 2px 0px 2px #666;
  color: #eee;
}
@media (max-width: 780px) {
  .App-menu {
    position: absolute;
    height: 36rem;
    width: 100%;
    z-index: 10;
  }
}
.App-menu h2 {
  margin: 0 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.App-menu .Notifications-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.App-menu .Notifications-box .Num-box {
  font-size: 1.5rem;
  margin-left: 3.5rem;
  padding: 0rem 1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}
@media (max-width: 780px) {
  .App-menu .Notifications-box .Num-box {
    margin-left: 0.5rem;
  }
}
.App-menu .Menu-box-link::before {
  content: "";
  display: block;
  position: relative;
  top: 1.3rem;
  right: 1.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}
.App-menu .Menu-box-link {
  font-size: 1.5rem;
  margin: 0.6rem 0 1.2rem 3.2rem;
  color: #fff;
  text-decoration: none;
}
.App-menu .Menu-box-link:hover, .App-menu .Menu-box-link:active {
  font-weight: 500;
  color: #f66;
}
.App-menu .Menu-box-link:hover::before, .App-menu .Menu-box-link:active::before {
  background-color: #f66;
}

/**  APP CONTENTS **/
.App-contents {
  position: absolute;
  top: 0;
  left: 30rem;
  right: 0;
  bottom: 0;
}
@media (max-width: 780px) {
  .App-contents {
    top: 42rem;
    left: 0;
  }
}
.App-contents .Post-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3rem 0 3rem 4rem;
}
@media (max-width: 480px) {
  .App-contents .Post-container {
    margin: 0;
  }
}
.App-contents .Post-container .Post-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 1.5rem;
}
@media (max-width: 780px) {
  .App-contents .Post-container .Post-status {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 1.7rem;
  }
}
@media (max-width: 480px) {
  .App-contents .Post-container .Post-status {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: 1rem;
  }
}
.App-contents .Post-container .Post-status .Status-text {
  font-size: 1.4rem;
  margin-right: 2.8rem;
  color: #333;
}
@media (max-width: 480px) {
  .App-contents .Post-container .Post-status .Status-text {
    font-size: 1.2rem;
    margin-right: 2.4rem;
  }
}
.App-contents .Post-container .Post-status #Published::before {
  content: "";
  display: block;
  position: relative;
  top: 1.5rem;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #808080;
}
.App-contents .Post-container .Post-status #Scheduled::before {
  content: "";
  display: block;
  position: relative;
  top: 1.5rem;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #008000;
}
.App-contents .Post-container .Post-status #Need-Approval::before {
  content: "";
  display: block;
  position: relative;
  top: 1.5rem;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffa500;
}
.App-contents .Post-container .Post-status #Error::before {
  content: "";
  display: block;
  position: relative;
  top: 1.5rem;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ff0000;
}
.App-contents .Post-container .Post-status #Notes::before {
  content: "";
  display: block;
  position: relative;
  top: 1.5rem;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #0000ff;
}
.App-contents .Post-date {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.App-contents .Post-date .Post-date-time {
  margin: 2rem 0;
  font-size: 2rem;
  color: #888;
}
@media (max-width: 780px) {
  .App-contents .Post-date .Post-date-time {
    text-align: center;
    font-size: 1.6rem;
  }
}
.App-contents .Post-date .Post-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 780px) {
  .App-contents .Post-date .Post-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}/*# sourceMappingURL=App.css.map */