/** FONTS 

font-family: 'Roboto Serif', serif;

**/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/** VARIABLES **/
/** FONT **/
/** THEME **/
/** BORDER COLOR **/
/** BORDER COLOR **/
/** ANCHOR COLOR **/
/** STATUS COLOR **/
/**  ACCORDION MENU **/
.Accordion-menu {
  max-width: 100%;
}

.Menu-box {
  position: relative;
}

.Menu-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1rem;
}

.Menu-box-title::before {
  content: "+";
  cursor: pointer;
  position: absolute;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  top: 50%;
  right: 2rem;
  font-size: 3rem;
}

.Menu-box.active .Menu-box-title::before {
  content: "-";
  font-size: 4rem;
}

.Menu-box-content {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 0;
  background-color: #111111;
}

.Menu-box.active .Menu-box-content {
  height: auto;
}

/**  POST CARD **/
.Post-card {
  width: 40rem;
  height: 50rem;
  margin-right: 4rem;
  margin-bottom: 5rem;
}
.Post-card .Post-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
.Post-card .Post-card-container .Post-card-status {
  width: 4rem;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;
}
.Post-card .Post-card-container .Post-card-status .Post-card-channel {
  color: #fff;
  width: 100%;
  text-align: center;
}
.Post-card .Post-card-container .Post-card-parts {
  display: grid;
  grid-template-areas: "Post-card-head Post-card-head" "Post-card-body Post-card-body" "Post-card-foot Post-card-foot";
  grid-template-columns: 15rem 15rem;
  grid-template-rows: 5rem 40rem 5rem;
  margin: 0 2.5rem;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-head {
  grid-area: Post-card-head;
  margin-top: 1rem;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-head .Post-card-date {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  height: 5rem;
  font-size: 1.5rem;
  color: #888;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-head .Post-card-actions {
  width: 15rem;
  height: 5rem;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-head .Post-card-actions .Actions-buttons {
  cursor: pointer;
  border: none;
  color: #888;
  background-color: #fff;
  margin-left: 2rem;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-body {
  grid-area: Post-card-body;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-body .Post-card-text {
  width: 30rem;
  height: auto;
  color: #888;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-body .Post-card-media {
  width: 30rem;
  height: 100%;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-body .Post-card-media img {
  max-width: 100%;
  height: auto;
  border: 1px solid #e3e3e3;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-foot {
  grid-area: Post-card-foot;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-foot .Post-card-stats {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-foot .Stats-buttons {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: #888;
  background-color: #fff;
}
.Post-card .Post-card-container .Post-card-parts .Post-card-foot .Stat-text {
  margin: 0 0.5rem;
}

/** GENERAL SETTINGS **/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  color: #000;
  background-color: rgba(238, 238, 238, 0.8);
}

/**  APP MAIN **/
.App-main {
  position: relative;
  min-height: 100vh;
}

/**  APP HEADER **/
.App-header {
  position: fixed;
  top: 0;
  left: 7rem;
  width: 23rem;
  height: 6rem;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1px solid #fff;
  background-color: #111111;
  -webkit-box-shadow: 2px 0px 2px #666;
          box-shadow: 2px 0px 2px #666;
  color: #fff;
}

h1 {
  margin-top: 0.5rem;
}

.App-title {
  font-weight: 900;
}

.App-title-ex {
  font-weight: 500;
}

/**  APP NAVBAR **/
.App-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 7rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #111111;
  border-right: 1px solid #fff;
}
.App-navbar a {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  opacity: 0.5;
  color: #000;
  background-color: #fff;
}
.App-navbar a:hover, .App-navbar a:active {
  opacity: 1;
}

/**  APP MENU **/
.App-menu {
  position: fixed;
  top: 6rem;
  left: 7rem;
  width: 23rem;
  height: 100%;
  background-color: #111111;
  -webkit-box-shadow: 2px 0px 2px #666;
          box-shadow: 2px 0px 2px #666;
  color: #fff;
}
.App-menu h2 {
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.App-menu .Notifications-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.App-menu .Notifications-box .Num-box {
  font-size: 1.5rem;
  margin-left: 2.5rem;
  padding: 0rem 1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}
.App-menu .Menu-box-list li {
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem 3.5rem;
}
.App-menu .Menu-box-list a {
  color: #fff;
  text-decoration: none;
}
.App-menu .Menu-box-list a:hover, .App-menu .Menu-box-list a:active {
  font-weight: 500;
  color: #f00;
}

/**  APP CONTENTS **/
.App-contents {
  position: absolute;
  top: 0;
  left: 30rem;
}
.App-contents .Post-container {
  width: auto;
  height: auto;
  margin: 3rem 4rem;
}
.App-contents .Post-container .Post-date-time {
  min-width: 100%;
  height: auto;
  color: #888;
  margin: 2rem 0;
  font-size: 2rem;
}
.App-contents .Post-container .Post-status .Post-status-list {
  -webkit-columns: 5;
     -moz-columns: 5;
          columns: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
  margin-left: 2rem;
}
.App-contents .Post-container .Status-text {
  font-size: 1.5rem;
  margin-right: 3rem;
  color: #000;
}
.App-contents .Post-container #Published {
  color: #808080;
  margin-left: 1rem;
}
.App-contents .Post-container #Scheduled {
  color: #008000;
  margin-left: 1rem;
}
.App-contents .Post-container #Need-Approval {
  color: #ffa500;
  margin-left: 1rem;
}
.App-contents .Post-container #Error {
  color: #ff0000;
  margin-left: 1rem;
}
.App-contents .Post-container #Notes {
  color: #0000ff;
  margin-left: 1rem;
}
.App-contents .Post-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}/*# sourceMappingURL=App.css.map */